* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font style */
body {
    font-family: 'Poppins',
        sans-serif;

}


/*----- style header part----- */
.top-section {
    background-color: rgb(250, 241, 241);

}

.card {
    background: #161616;
    width: 1100px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left: 90px;
    border-radius: 20px;
}

.text {
    color: white;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.title-part {
    margin-left: 60px;
}

.big-title {
    font-size: 40px;
}

.small-title {
    font-size: small;
}

#button {
    height: 56px;
    width: 187px;
    background: #DD0000;
}

.player-img {
    color: white;
    height: 100%;
    width: 50%;
    margin-top: 40px;
    margin-left: 110px;

}

/* .........mider part..... */

.mid-section {
    background-color: white;
    height: 1250px;
}

.container {
    display: flex;
    margin-top: 100px;
    width: 800px;


}

.part-one {
    width: 25%;
    background: #161616;
    height: 310px;
    width: 310px;
    margin-left: 100px;
}

.item {
    background-color: aliceblue;
    width: 250px;
    height: 60px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: larger;
}

.part-two {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7px;
}

.small-card {
    border: 2px solid rgb(242, 237, 247);
    height: 360px;
    width: 315px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 15px;
    border: 2px solid white;
    border-radius: 5px;
    background: #eee2e2;
}

.pic {}

.textt {
    margin-left: 20px;
    display: block;
    color: #000;
}

.button {
    margin-top: 15px;
}

.first {
    margin-top: 10px;
}

.diff {
    margin-top: 70px;
}

.fa-solid {
    margin-top: 60px;
}

/* -------------------
..Footer part....
-------------------- */


.last-section {
    background: #161616;
    height: 400px;
}

.final {
    padding: 50px;
    margin-left: 6in;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #eee2e2;

}

hr {
    color: rgb(254, 254, 254);

}

.final-text {
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    color: rgb(254, 254, 254);
    /* height: 5px;
    width: 5px; */

}